body
{
    margin: 1;
    background: rgb(150, 134, 201);
    text-decoration-color: rgb(72, 3, 3);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}